*.egg-info
*.pot
*.py[co]
*.sublime-*
.coverage
.envrc
.hypothesis
.idea
.python-version
.tox
.vscode
__pycache__
clover.xml
coverage.xml
docker-compose.yml
docker/environments
Dockerfile
htmlcov
Makefile
setup.cfg
deployment
