*.egg-info
*.pot
*.py[co]
*.sublime-*
.cache
.coverage
.envrc
.hypothesis
.idea
.python-version
.tox
.vscode
__pycache__
clover.xml
coverage.xml
docs/_build
docs/_build_html
htmlcov
version.json
.mypy_cache
